/*@import url("../../../vendor/bower-asset/bootstrap/dist/css/bootstrap.min.css");*/

body {
    font-family: "Times New Roman", sans-serif, Arial, Verdana, "Trebuchet MS" !important;
}

.fs-7 {
    font-size: 7px;
}

.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-15 {
    font-size: 15px;
}

.fs-17 {
    font-size: 17px;
}

.fs-20 {
    font-size: 20px;
}

.fs-25 {
    font-size: 25px;
}

.h-20 {
    height: 20px;
}

.h-30 {
    height: 30px;
}

.h-41 {
    height: 41px;
}

.h-50 {
    height: 50px;
}

.h-60 {
    height: 60px;
}

.app-table {
    border-collapse: collapse;
}

.bg-gray {
    background-color: #868686;
}

.bg-light-gray {
    background-color: #c7c7c7;
}

.app-table th, .app-table td {
    border: 0.5px solid black;
    vertical-align: middle;
    text-align: center;
}

.borderCollapse {
    border-collapse: collapse;
}

.bordered-cell {
    border: 1px solid black;
}

.v-align-center {
    vertical-align: middle;
}

.v-align-top {
    vertical-align: top;
}

.v-align-bottom {
    vertical-align: bottom;
}

.underline-text {
    text-decoration: underline;
}


.mt-10 {
    margin-top: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-200 {
    margin-top: 200px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.box-30-15 {
    width: 30px;
    height: 15px;
}

.w-100 {
    width: 100px;
}

.w-20 {
    width: 20px;
}

.w-40 {
    width: 40px;
}

.w-50 {
    width: 50px;
}

.w-470 {
    width: 470px;
}

.w-120 {
    width: 120px;
}

.w-145 {
    width: 147px;
}

.w-200 {
    width: 200px;
}

.bb {
    border-bottom: 1px solid black;
}

.bb-3 {
    border-bottom: 3px solid black;
}

.br {
    border-right: 1px solid black;
}

.br-2 {
    border-right: 2px solid black;
}

.br-3 {
    border-right: 3px solid black;
}

.pl-10 {
    padding-left: 10px;
}

.lh-1-5 {
    line-height: 1.5;
}

.p-20 {
    padding: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.prb-20 {
    padding-right: 20px;
    padding-bottom: 20px;
}

.agreement p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-indent: 30px;
}

table p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-indent: 30px;
    font-size: 11px;
}

.column {
    width: 47%;
}

.left-column {
    float: left;
}

.left-column {
    float: right;
}

.doted-line {
    border-top: 2px dashed black;
    width: 100%;
}

