.mpgu-bg {
    background-image: url("/img/5.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #bcc1c0;
}

.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.login-box, .register-box {
    width: 460px;
    margin: 3% auto;
    opacity: 0.8;
    border-radius: 20px;
}

.login-page, .register-page {
    background: #d2d6de;
}

.login-logo, .register-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.login-box-msg, .register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.login-box-body, .register-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}

.has-feedback {
    position: relative;
}

.form-group {
    margin-bottom: 15px;
}

.has-feedback .form-control {
    padding-right: 42.5px;
}

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
    color: #777;
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}